DSMR-Parser.json
[
    {
        "id": "d6a10370.54618",
        "type": "tab",
        "label": "MEEK DD,DSMR P1:Tasmota to Domoticz parser.",
        "disabled": false,
        "info": "Serial DSMR P1 data transfer over MQTT with Tasmota.\n\nMEEK DD flashed with Tasmota, will grab the serial data and transport it over MQTT to MEEK-IO server.\nThis flow, will parse the incoming MQTT data in /MEEK-DD/DSMR to serial data that Domoticz \"P1 Smart Meter with LAN interface\" on port 1886 can utilize.",
        "env": []
    },
    {
        "id": "e3eb2ef2.5730a",
        "type": "mqtt in",
        "z": "d6a10370.54618",
        "name": "Input MEEK DD",
        "topic": "tele/MEEK-DD/RESULT",
        "qos": "2",
        "datatype": "utf8",
        "broker": "8ce31000.7fac3",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 120,
        "y": 100,
        "wires": [
            [
                "3f765111.16640e"
            ]
        ]
    },
    {
        "id": "87bbf929.023ef8",
        "type": "tcp out",
        "z": "d6a10370.54618",
        "name": "",
        "host": "127.0.0.1",
        "port": "1886",
        "beserver": "server",
        "base64": false,
        "end": false,
        "x": 890,
        "y": 280,
        "wires": []
    },
    {
        "id": "30e71eaa.3f0fd2",
        "type": "join",
        "z": "d6a10370.54618",
        "name": "Join individual MQTT Message's to 1.",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\r\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 710,
        "y": 160,
        "wires": [
            [
                "bc4c1a9c.af25e8"
            ]
        ]
    },
    {
        "id": "3f765111.16640e",
        "type": "change",
        "z": "d6a10370.54618",
        "name": "Filter Tamota MQTT message additions.",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "{\"SerialReceived\":\"",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "\\r\"}",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 160,
        "wires": [
            [
                "30e71eaa.3f0fd2",
                "2ea6590b.ca2b96"
            ]
        ]
    },
    {
        "id": "bc4c1a9c.af25e8",
        "type": "function",
        "z": "d6a10370.54618",
        "name": "Add \"New Line\".",
        "func": "msg.payload = msg.payload + \"\\r\\n\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 800,
        "y": 220,
        "wires": [
            [
                "87bbf929.023ef8"
            ]
        ]
    },
    {
        "id": "1ad82db.ce574d2",
        "type": "change",
        "z": "d6a10370.54618",
        "name": "Set \"end of string\" for Join function.",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "complete",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 80,
        "wires": [
            [
                "30e71eaa.3f0fd2"
            ]
        ]
    },
    {
        "id": "2ea6590b.ca2b96",
        "type": "switch",
        "z": "d6a10370.54618",
        "name": "Find DSMR end message String \"!\". ",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "!",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 1,
        "x": 620,
        "y": 80,
        "wires": [
            [
                "1ad82db.ce574d2"
            ]
        ]
    },
    {
        "id": "5296e20d6c830e47",
        "type": "exec",
        "z": "d6a10370.54618",
        "command": "touch /var/www/html/admin/command/Zigbee-Start",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Start ZIgbee2MQTT",
        "x": 520,
        "y": 340,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "fb5218cda6f54d71",
        "type": "mqtt in",
        "z": "d6a10370.54618",
        "name": "Zigbee Status",
        "topic": "tele/Meek_Zigbee/LWT",
        "qos": "2",
        "datatype": "utf8",
        "broker": "8ce31000.7fac3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 360,
        "wires": [
            [
                "6e33f6483024b4ed"
            ]
        ]
    },
    {
        "id": "6e33f6483024b4ed",
        "type": "switch",
        "z": "d6a10370.54618",
        "name": "Online/Offline",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Online",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Offline",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 300,
        "y": 360,
        "wires": [
            [
                "5296e20d6c830e47"
            ],
            [
                "a8be88589ea4376d"
            ]
        ]
    },
    {
        "id": "a8be88589ea4376d",
        "type": "exec",
        "z": "d6a10370.54618",
        "command": "touch /var/www/html/admin/command/Zigbee-Stop",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Stop Zigbee2MQTT",
        "x": 510,
        "y": 380,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "8ce31000.7fac3",
        "type": "mqtt-broker",
        "name": "Meek-IO Mosquitto",
        "broker": "127.0.0.1",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]
